#TabsToolbar {
  visibility: collapse;
}

#statuspanel {
  opacity: 0 !important;
}

#sidebar-header {
  visibility: collapse !important;
}

#sidebar-box {
  max-width: 80px !important;
}

#context-navigation,
#context-sep-navigation {
  visibility: collapse !important;
}

@media screen and (max-width: 1024px) {
  #sidebar-box {
    display: none;
  }

  #sidebar-header {
    display: none;
  }

  #sidebar-splitter {
    display: none
  }

  #sidebar-panel {
    display: none
  }

  #sidebar {
    display: none
  }
}
