#TabsToolbar {
  visibility: collapse;
}

#statuspanel {
  opacity: 0 !important;
}

#sidebar-header {
  visibility: collapse !important;
}

#sidebar-box {
  max-width: 80px !important;
}

#context-navigation,
#context-sep-navigation {
  visibility: collapse !important;
}
